<style>
  .heade{
      color: #607d8b;
        font-weight: 1200;
        font-size: 1.5em;
        margin-bottom: 20px;
        background-color: #e3e2e2 ;
        letter-spacing: 1px;
  
  }
  
  .fl{
    display: flex;
           justify-content: center;
           align-items: center;
  }
  
  .btn{
    background-color: #e3e2e2 ;
    color: #607d8b;
  }
  
  .b1:hover{
    color: blue;
  }
  
  .b2:hover{
    color: green;
  }
   
  </style>
  
  <% include ../partials/header %>
  
  <!--NAVIGATION BAR FOR ADMIN-->
  <% include ../partials/adminNav %>
  
  <!--DASHBOARD SECTION-->
  <div id="main-header" class="py-2 heade">
           <h1 class="fl"> <%=currentUser.username%>'s Dashboard</h1>
  </div>
  
  
  
  <% include ../partials/alerts %>
  
  <!-- POSTS -->
   <section id="posts" class="my-5"> 
    <div class="container">
      <div class="row">
        
        <div class="col-md-6">
          <div class="card text-center bg-primary text-white p-3 mb-3">
            <div class="card-block">
              <h3>Books</h3>
              <h1 class="display-4"><i class="fa fa-pencil"></i> <%=books_count%></h1>
              <a href="/admin/bookInventory/all/all/1" class="btn b1">View</a>
            </div>
          </div>
          </div>
          <div class="col-md-6">
          <div class="card text-center bg-success text-white p-3 mb-3">
            <div class="card-block">
              <h3>Users</h3>
              <h1 class="display-4"><i class="fa fa-users"></i> <%=users_count%> </h1>
              <a href="/admin/users/1" class="btn b2">Users</a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  
  <% include ../partials/footer %>
  
  