<% include ../partials/header %>

 <% include ../partials/alerts %>

 <% include ../partials/bubble %>

<style>
  #border{
    border: 1px solid lightgray;
    color: black;
  }
  #mlr{
    margin: 40px;
  }
  #imgp{
    margin-top: 20%;
  }
  #mt{
    margin-top: 10px;
  }
  #mtc{
    margin-top: 80px;
  }
</style>
<div class="card mt-5 mb-5 mx-auto" id="mt" style="max-width: 55%; height: 500px;">
  <div class="row g-0">
    <div class="col-md-6">
      <img src="../../public/image/userlogin.png" class="img-fluid rounded-start" id="imgp" alt="...">
    </div>
    <div class="col-md-6" id="mtc">
      <div class="card-body" id="mlr">
        <!-- <h5 class="card-title">User Sign Up</h5> -->
        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->

        <section id="userLoginForm" class="card-title">
          <div class="mt-0">
            <div>
              <div>
                <div>
                  <div class="text-center">
                    <h4 class="card-title">User Login</h4>
                  </div>
                    <div class="card-block">
                      <form action="/auth/user-login" method="POST">
                        <div class="form-group">
                          <input type="text" name="username" placeholder="Username" id="border" class="form-control">
                        </div>
                        <div class="form-group">
                          <input type="password" name="password" placeholder="Password" id="border" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Login!</button>
                      </form>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        

      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>